/* Header_Logo */

.app-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.animation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 80px;
  margin-left: 35px;
}

.animate-text {
  animation: typing-text 1.5s steps(20) 0s;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1em;
  width: 16ch;
  display: inline-block;
  font-weight: 400;
}

.cursor {
  display: inline-block;
  height: 30px;
  width: 2px;
  margin-left: 5px;
  animation: blink 1.5s infinite;
  line-height: 1.7;
}

@keyframes typing-text {
  0% {
    width: 0ch;
  }
  100% {
    width: 16ch;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

/* Panels */

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-column: 1;
}

.center-panel {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 2;
  overflow-y: scroll;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-column: 3;
}

.category-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* CurrentlyReading & BookProgressCard */

.left-panel-user {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.currently-reading {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.book-progress-card {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-between;
  gap: 20px;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--card-color, #fff);
}

.book-progress-cover {
  width: 95px;
  max-height: 150px;
  border-radius: 7px;
}

.book-progress-info {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.book-progress-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--card-color, #fff);
}

.book-progress-author {
  font-weight: 200;
  margin-bottom: 20px;
}

/* UserCard */

.user-card {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  border: 2px solid;
  padding: 3px;
}

.user-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--custom-color);
}

.user-nick {
  font-weight: 200;
  opacity: 0.9;
}

/* PostFeed & PostCard */

.post-feed {
  margin-top: 5px;
}

.post-card {
  background-color: #202020;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 100%;
}

.post-card-header {
  display: flex;
  gap: 25px;
  background-color: #0d0d0d;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
  align-items: center;
}

.post-card-avatar {
  height: 50px;
  width: auto;
  border-radius: 10px 0px 0px 0px;
}

.post-card-book {
  border-radius: 0px 25px 25px 0px;
  font-weight: 600;
  margin-left: -15px;
  text-transform: uppercase;
  color: var(--custom-color);
}

.post-card-type {
  border: 2px solid;
  border-radius: 35px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 5px 10px 6px 10px;
  color: var(--card-color, #fff);
}

.post-card-usernick {
  font-weight: 200;
}

.post-like {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.post-card-body {
  padding: 15px 55px 25px 55px;
}

.post-card-image {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  max-height: 775px;
  margin-bottom: -5px;
}

.post-card-icon {
  border-radius: 10px 0px 0px 0px;
  width: 50px;
  height: 50px;
}

.hastag {
  color: var(--custom-color);
}

/* Trending */

.trending {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 10px;
  font-weight: 600;
}

.trending-community {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  transition: 0.3s;
}

.trending-community:hover {
  background-color: #202020;
}

/* Lecture Club */

.lecture-club-card {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: space-between;
  gap: 20px;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--card-color, #fff);
}

/* Utils */

.custom-color {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-wheel {
  margin-left: 30px;
}

.button-app {
  background: none;
  border: none;
  color: inherit;
  display: flex;
  gap: 15px;
  font-size: 1em;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  transition: 0.3s;
  cursor: pointer;
}

.button-app:hover {
  background-color: #202020;
}
