/* Header/Logo */

.app-logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Panels */

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-column: 1;
}

.center-panel {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 2;
  overflow-y: scroll;
  width: 775px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-column: 3;
}

.category-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* CurrentlyReading & BookProgressCard */

.currently-reading {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.book-progress-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
  gap: 20px;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid;
}

.book-progress-cover {
  width: 95px;
  max-height: 150px;
  border-radius: 7px;
}

.book-progress-info {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.book-progress-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.book-progress-author {
  font-weight: 200;
  margin-bottom: 20px;
}

/* UserCard */

.user-card {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 25px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
}

.user-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.user-nick {
  font-weight: 200;
}

/* PostFeed & PostCard */

.post-card {
  background-color: #202020;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 100%;
}

.post-card-header {
  display: flex;
  gap: 25px;
}

.post-card-book {
  background-color: #131313;
  border-radius: 0px 25px 25px 0px;
  padding: 15px;
  font-weight: 600;
}

.post-card-type {
  padding: 15px;
  border: 2px solid;
  border-radius: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.post-card-usernick {
  padding: 15px;
  font-weight: 200;
}

.post-card-body {
  padding: 10px 40px 20px 40px;
}

.post-card-image {
  width: 100%;
  border-radius: 10px;
  max-height: 775px;
}

/* Trending */

.trending {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 20px;
  font-weight: 600;
}

/* Lecture Club */

.lecture-club-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
  gap: 20px;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid;
}
