body {
  margin: 0;
  background: #161616;
  color: #fff;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h2 {
  margin: 0;
  line-height: 1.15;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 90px;
  width: 65vw;
  height: 92vh;
}

hr {
  width: 100%;
  color: #6e6e6e;
}
