:root {
  --custom-color: #fff; /* Default color (you can set any default color here) */
}

body {
  margin: 0;
  background: #161616;
  color: #fff;
  font-family: system-ui;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
  line-height: 1.25;
  font-size: 1.4em;
  color: var(--custom-color);
}

h3 {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  /* width: 70vw; */
  height: 100vh;
  margin-top: 40px;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: #444;
  background-color: #444; /* Modern Browsers */
}

/* Hide scrollbar */

/* Chrome */
.center-panel::-webkit-scrollbar {
  display: none;
}

/* Edge */
.center-panel {
  -ms-overflow-style: none;
}

/* Firefox */
.center-panel {
  scrollbar-width: none;
}

@media only screen and (max-width: 2560px) {
  .App {
    width: 70vw;
  }
}

@media only screen and (max-width: 1920px) {
  .App {
    width: 90vw;
  }
}


@media only screen and (max-width: 1400px) {
  .App {
    display: flex;
    flex-direction: column;
    margin: 35px 15px 0px 15px;
    gap: 30px;
    width: 95vw;
  }

  body {
    display: flex;
  }

  .left-panel-user {
    display: none;
  }

  .right-panel {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 35px 5px 0px 5px;
  }

  .post-card {
    margin-bottom: 15px;
  }
}
