:root {
  --custom-color: #fff; /* Default color (you can set any default color here) */
}

body {
  margin: 0;
  background: #161616;
  color: #fff;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  line-height: 1.25;
  font-size: 1.4em;
  color: var(--custom-color);
}

h3 {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  width: 70vw;
  height: 100vh;
  margin-top: 40px;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: #444;
  background-color: #444; /* Modern Browsers */
}

/* Hide scrollbar */

/* Chrome */
.center-panel::-webkit-scrollbar {
  display: none;
}

/* Edge */
.center-panel {
  -ms-overflow-style: none;
}

/* Firefox */
.center-panel {
  scrollbar-width: none;
}
